.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    &__header {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &__filter {
        padding-left: 0px;
    }
}
