.portfolio {
    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.portfolio__header {
    margin-top: 0px;
    margin-bottom: 0px;
}
.portfolio__filter {
    padding-left: 0px;
}
